body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00274D;
  color: white;
  background-image: url(C:\Users\User\Documents\Summer Project 2023\Webpage\my-webpage\public\cube_pattern.png); /* Path to your background image */
  background-repeat: repeat; /* Ensures the image repeats to cover the entire background */
}

.App {
  text-align: left;
  padding-top: 60px; /* Add padding to top to prevent content from being hidden behind fixed nav */
}

.App-nav {
  background-color: #001F3F;
  padding: 10px 10px 10px 20px; /* Adjusted padding to add more space to the right */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  box-sizing: border-box; /* Ensure padding and width are handled properly */
}

.App-nav a {
  color: #FF851B;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.App-nav a:hover {
  text-decoration: underline;
}

.App-header {
  background-color: rgba(0, 31, 63, 0.98); /* Adjusted background color with reduced opacity */
  padding: 80px 20px 20px 40px; /* Adjusted padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 20px; /* Adjusted margin */
}

.App-header h1 {
  color: #FF851B;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 3rem; /* Increased font size */
  margin-top: 10px; /* Reduced margin between the introductory text and the name */
}

.Intro-text {
  color: #FF851B;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 31, 63, 0.98); /* Adjusted background color with reduced opacity */
}

.About, .Projects {
  border: 2px solid #FF851B;
}

.About h2, .Projects h2 {
  color: #FF851B;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 31, 63, 0.98); /* Adjusted background color with reduced opacity */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

li::before {
  content: "•";
  color: #FF851B;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}